<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=Athletes.name%></title>
</head>
<a href="/athletes">Go Back</a>
    <h3>Player</h3> 
    <h3>Player-info</h3>
    <ul>
        <li> name: <%=Athletes.name%></li>
        <li>team: <%=Athletes.team%></li>
        <li>age: <%=Athletes.age%></li>
        <li>position: <%=Athletes.position%></li>
        <li>contract: <%=Athletes.contract%></li>
    </ul>
</body>
</html>